/* Nav Bar CSS */
nav {
    background-color: #210F7D;
    color: white;
    display: flex;
    font-size: 1.45rem;
}
li {
    display: inline;
}
li.Title{
    font-size: 2.4rem;
    color:#E3BB2A;
    padding-right: 20px;
}
ul {
    list-style: none;
}
img {
    max-width: 110px;
    max-height: 110px;
}
a.nav{
    text-decoration: none;
    color: white;
    padding: 80px;
}
a.nav:hover {
    color: #E3BB2A;
    text-decoration: none;
}



/* Dropdown */
.dropbtn {
color: white;
text-align: center;
padding: 80px;
text-decoration: none;
}


li.dropdown {
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 10px;
box-shadow: 0px 8px 16px 0px rgba(160, 161, 55, 0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 5px;
text-decoration: none;
display: flex;
text-align: left;
right: 0;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
    display: block;
}

a.drptxt{
    text-align: left;
}
/* Main Content */


h1,
h2,
h4,
p{
    text-align: center;
    color: white;
}

em{
    color: #E3BB2A;
}

div.content{
    background-color:#210F7D;
    padding: 30px;
    border: solid 2px  #E3BB2A;
}
body{
    background-color: black;
}
a.email{
    color: #E3BB2A;
}
html{
    cursor: crosshair;
}
main{
    margin-top: 80px;
}

/* Form CSS */
fieldset{
    color: white;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 10px;
    border-radius: .5rem;
}

.name {
    width: 250px;
    height: auto;
    padding-left: 10px;
    border-radius: 1rem;
}

.bio {
    width: 325px;
    height: auto;
    padding-left: 10px;
    text-align: center;
    border-radius: 1rem;
}
/* Button css */
.btn {
    border-radius: 5px;
    padding: 15px 55px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    position: relative;
    display: inline-block;
}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}


.green {
    background-color: #E3BB2A;
    box-shadow: 3px 5px 5px #888888;
    border-radius: 2px;
    transition: all 1s ease;
    transform: scale(1);
}

.green:hover {
    background-color: #E3BB2A;
    transform: scale(1.5) perspective(1px);
}